<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img height="700" src="https://th.bing.com/th/id/R.507a5a4533d34b9a828815510f6bb4b7?rik=i14j6jKniQebig&riu=http%3a%2f%2fwww.usnews.com%2fcmsmedia%2fbb%2f94%2f8eabd0b44828a5cddca7e9a14ae7%2f140205-shoppingcart-electronics-stock.jpg&ehk=afVql85ImRyfGDyS0oRHf%2f0VbJDXbR5A0g7AV2NArM0%3d&risl=&pid=ImgRaw&r=0" class="d-block w-100" alt="...">
                  </div>
                  
                </div>
              </div>
        </div>
    </div>
</div>

